<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:remove="all">Rest Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>	
	<p th:text="#{greeting(${name})}">Hi,</p>
	<p>The password for your id <a href="#" th:text="${email}"></a> has been successfully reset.</p>	
	<p>
			
	<p>If you didn’t make this change or if you believe an unauthorized person has accessed your account, please contact our support at <a href="abc@gmail.com">abc@gmail.com</a></p>
	<br/>
	<p>Kind regards, <br /><em>The ARG Team</em></p>
</body>
</html>